body {
    background-color:hsl(24, 5%, 18%);
    margin: 0 0;
    font-family: 'Fondamento', cursive;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    @include flex-center();
}

.canvas-container {
    position: relative;
    width:900px;
    height:980px;
    background-color: rgb(228, 222, 204);
    @include flex-center();
    justify-content: initial;
    flex-direction: column;
    margin-top: 10px;
    z-index: 1;
    h1 {
        color:rgb(49, 49, 49);
        text-shadow: 4px 4px 0.25em rgb(255, 255, 255);
    }
    * {
        z-index: inherit;
    }    
}

#myCanvas {
    width:800px;
    height:800px;
    border: 4px solid black;
    border-radius: 0.5em;
    background-color: green;
}

.user-menu {
    text-align: center;
    width:300px;
    height:500px;
    background-color: transparent;
    position: absolute;
    top:0%;
    left:65%;
    z-index: 0;
    transition: all 0.5s;
    border-radius: 0 4px 4px 0;
    * {
        transition: all 0.4s;
        transform: scale(0);
    }
    hr{
        margin: 0 0;
    }
}

.user-menu-active {
    left:100%;
    background-color: rgb(228, 222, 204);
    * {
        transform: scale(1);
    }
    @media only screen and (max-width:1400px) {
        z-index: 2;
        left:63%;
    }
}

.user-menu-section {
    display:inline-block;
    text-align: center;
    width:49%;
    height:60px;
    input[type=range]{
        width:130px;
    }
}

.menu-button {
    width:50px;
    height:50px;
    cursor: pointer;
    position:absolute;
    left:93.5%;
    top:0.8%;
    transition: all 0.5s;
    border: none;
    background: url('../images/gear.png') no-repeat center;
    background-size: 35px 35px;
}

.menu-button-active {
    transform: translateX(300px) rotate(360deg);
    @media only screen and (max-width:1400px) {
        transform:translateX(0);
        z-index: 3;
    }
}

.btn-generate {
    margin-top:2em;
    background-color: transparent;
    color:rgb(49, 49, 49);
    width:150px;
    border-radius:7px;
    padding: 8px 20px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Fondamento', cursive;
    transition: all 0.5s;
    border: 2px solid rgb(49, 49, 49);
    &:hover {
        background-color: rgb(158, 101, 27);
        color:white;
        cursor:pointer;
    }
    &:disabled {
        cursor: not-allowed;
        background-color:grey;
        border: 2px solid red;
        color:red;
    }
  }
  